
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}


.popup-card {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 600px;
    width: 100%;
    margin: 10px;
}
/*  product image */
.popup-card-img {
    width: 43%;
    background-color: #b8ffbe7c;
    z-index: 10;
}
.popup-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*  product content and input */
.popup-card-content {
    position: relative;
    background-color: #F2F9F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 57%; 
    
}

.content-bg{
    position: absolute;
    background-image: url('popup-card-bg.jpg');
    background: no-repeat  cover;
    width: 100%;
    max-width: 500px; 
    height: 100%;
    opacity: 0.1; 
}
.popup-component{
    z-index: 10;
    width: 100%;
    text-align: center;
}
.popup-component span {
    font-size: clamp(10px, 4vw, 20px);
    color: #303030;
}
.popup-component h1 {
    font-size: clamp(16px, 10vw, 64px);
    color: #ff9900;
    margin: 0;
    line-height: 1;
}
.popup-component p {
    font-size: clamp(14px, 5vw, 32px);
    margin: 0;
    font-weight: bold;
}
.popup-component form {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    box-sizing: border-box;
}

.popup-component input {
    width: clamp(95%, 3vw, 100%);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #303030;
    border-radius: 5px;
    font-size: clamp(10px, 4vw, 16px);
}

.popup-component button {
    width: 100%;
    padding: 8px 0px;
    font-size: clamp(10px, 3vw, 16px);
    background-color: #F59C16;
    border-radius: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
}
.popup-component a {
    display: block;
    margin-top: 10px;
    font-size: clamp(10px, 3vw, 14px);
    color: #303030;
    text-decoration: none;
}

@media screen and (max-width: 450px) {
    .popup-component form {
    margin: 8px 0;
    }
    .popup-component{
        padding: 15px;
    }
    .popup-component input {
        width: clamp(95%, 3vw, 95%);
        padding: 8px 5px;  
    }  
}